/*-- scss:defaults --*/

$primary: #096b72 !default;
$color-foot:  #096b72 !default;
$body-color: #373a3c;
$info: #006699;
$green: #006633;
$red: #CC0033;
$tetradic: #993300;
$gray-text: #555555;

$font-family-sans-serif:   "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base: 1.0rem;

/*-- scss:rules --*/

.sidebar-title {
  color: $color-foot;
}


// change the default size of text in paged tables and others. using that class.
.table-condensed {
  font-size: smaller;
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
h3 { margin-top: 1.5rem; font-size: 1.2rem; font-weight: bold; }
h4 { margin-top: 1.5rem; font-size: 1.1rem; text-decoration: underline;}
h5 { margin-top: 1.5rem; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

pre {
  border: none;
  background-color: var(--bs-gray-100) !important;
}

pre.sourceCode {
  border-left-color:  $info;
}


div.sourceCode {
  margin:  1rem;
  font-size: .9rem;
}


div[data-code-copy="false"] button.code-copy-button {
  display: none;
}

/*
code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

*/

/* Some extra things I added ---------------------------*/

//get rid of this if I decide to go back to article page table-layout:

// put border around figures for visual clarity
.quarto-figure {
  max-width: 100%;
  border: 1px solid $color-foot;
  border-width: 1px 0  1px 0 ;
  padding-top: 1rem;
}

// embedded videos are too big.
.quarto-video {
  margin: 1rem 2rem 1rem 2rem;
  width: 80% !important;
}


// make fancy block quotes:
/* Define a class for the fancy blockquote */
.otro-blockquote{
  font-size: 1.3rem;
  width:80%;
  margin:3rem 2rem;
  font-family:Open Sans;
  font-style:italic;
  color: $gray-text;
  padding: 3rem 2rem 2rem 4rem;
  border-left:8px solid $info ;
  line-height:1.6;
  position: relative;
  background: var(--bs-gray-200);
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:$info;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.rt-table {
  font-size: .9rem;
  color: $gray-text;
}

.noborder {
   border: none;
}

.callout-dothis {
  //border-color:  var(--bg-danger-rgb) !important;
  border-style: solid solid;
  border-width: .5px 5px;
  border-color: var(--bs-gray-500) $info;
  //border-left-color: var(--bs-orange);
  padding: 1rem;
  margin: 1.5rem .25rem;
  border-radius: 25px;
}

.standout {
  color: $color-foot;
}

/* Example of & and --bs vars
.alert-dothis a:any-link {
  color: var(--bs-orange);
  text-decoration: underline;

  &:hover {
    background-color: var(--bs-blue);
  }
}

*/

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}